* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: #fed550;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: contain;
  --w: 340px;
  --brown: rgb(86, 46, 12);
}

.d-none {
  display: none;
}

.outer-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.wrapper {
  background-color: rgb(12, 171, 182);
  height: calc(100% - 20px);
}

.btn-wrapper {
  display: flex;
  justify-content: end;
}


.singers-wrapper {
  display: flex;
  width: var(--w);
  justify-content: space-evenly;
  z-index: 1;
}



.singer {
  text-align: center;
  width: 50px;
  display: flex;
  justify-content: center;
}

.wrapper:not(.active) .singer:not(.active) {
  filter: brightness(50%) sepia(60%);
}

.sprite-container {
  position: relative;
  --w: 40px;
  --c: 40px;
  width: var(--w);
  height: var(--c);
  z-index: 1;
  overflow: hidden;
  /* margin-left: -4px; */
}

.sprite  {
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sprite {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAdhJREFUaEPtmuF2gzAIhfX9H9odXZNFhFww2NKF/dpOLYbL5w3ErUv+pAIGBVbDtbNcupFEU6NGkBTjT4wDlG0787KuVaLUalmWFOEXmI2CQu30Bc70ek0vgAaWAk9Ckw5T3WWHobhM2Ybav/ffE5j/Acxok3psRwWYpmcpexX9bGpX/ubkvZrUU//CATO4JY0CHWo61QATMWHPJvUpYLyApsB418MUrwdM1IQhLEZHeAIYuMYb/ZB3PW7Fk4CJnPCp5+D8mvQjyEW9gYHaGYF+YuyHa5SA5sSEwT6c8AWYwanmEWDaqYs70zFMXd71GIonAhM04UuyvSZ1L5TC+j2BqbE0+lnWp4mnyJU9RrAATYGJnvDXANMWgTog8xlsDTTAKAAcrq8ITPSEybZYlyu8C+o29+13Bsdqb6DZ7eMmgN1YRUDuFUnrXBCYActX75WG9zbeBbk0lDMBQ3OVoDEBg06NOvsmLK5mgeT+nk9cc3v+DfWoW1EXRE8vo7X5obPUA9WWG26gw6CgoNHyTFgssLRGSxOI8lT0B6rx1+CmIeO9Y6xWQ6MssEpIQyzveN75hoondueaJ87w/zT0+Fk0BeV9jyKDa9GBHf26ZzwUq7q9Mt8w8X4AiVb1JGg8L44AAAAASUVORK5CYII=);
}

.sawtooth {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAhBJREFUaEPtmEFOxDAMRTt7xFG4APdgw/nYcA8uwFEQe0aWiOQa23GSn9al7W5SKfNtv9o/uS3Xs8rAy9PDz/vn902mhdZpTXt3phT+ScyZgtegeHz7WL5en1dgECza+hlzdQHzW/UCBf3kwFjrZ4SFYr6AWZaFQ8GBsdbPCsu/AAbhOSQYBRoaQ/yRoyoCjqfviH6o2mEyB2x5i1bPoQGjwdAKDEof17J3PVxgMgeM8hxRWKS3qXUXlD4JC9qUtwJoApM5YKTnmAEMUl8BJks9VGCyB4z0HLyLUnE031LWoyMJqY/+O1M9QsCMmkBkwOiOYBXXgidiVKMajwigeqMpvzJrXu8RcLQYUc+hwczj5bmIxIvWp3WYPeuxGzC9pxD0CMkODBrA0f2mAzMqUDslSNjoy9dGSKTLIIGRxrTmiXr0eaezLTrgCpjsAXt+oySy9bJtFjDywq8HaHQ9EPuZwGQPuOgr3SUrMCP6rO7c01FbOr3WwYvZrwLTGzBKYG0k9erT7jfKiOg1vegOuAUwtfzJsVkFxpuZ3gyOJK+1KyATaAHDoRkdb7ILaqdPz3f0fHTWfqh6TAOm5Tgox59319GSxC1MYK0D9n5wM/LXkjsOO6/HoU5JXlfw5m6taJFERuBrLXJkz4g2q7ha3KP7mTe9tSTT+8itZ0kicr/InlFtHEJPY8t+VBRkvJn2uwNTww5RCYO4twAAAABJRU5ErkJggg==);
}

.triangle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAhVJREFUaEPtmtFRAzEMRMk/tdACXUAblEIb0AUtUAv/ZMyMGEWxpJWzd3HA+SLMsZG07yT5yOFuvVYFChU4FK79N5c+Pdx/t2TfP79WfYzrqyCmIA2Wt5ePn98+vz4uaBYwfqPUsMhVC5rTev2JDsMYIT1YFjTnN9fNA8MYIREsDGgYQM+yQELAzJowY4QgsFwCDQNoCwvbj4peCsysCbNGiOi0XUUvu80k/b79XN1nGED3YGEu5VV/Q2BmTRjpCqi5Fpj2d/oloFSBYQGtY2H7MaLnAjNrwggslRFi9XrAVPTatUiMKNDy2Ww/RvW6wMyccG+E2LYt4wUxhQ0MUrtrA4jE6NXuDBhE7JoJs3eOrYDROxET6Oi0NHKDVPVcYGZM2Ju5dufQ77MiMoGxC6Qspx4wyNPkrTrqqL8nwMye8C0BY6HVpy4UaLYfDD0XmNkT1mNxtMMwAfRGebRER6M9W0o9AL2uxYrvFxiWILLVZ08tvTHCNNg7zWQGV2IT8yKgqwZrzWjk2f+0I7WTOK2uzjkFJjO3krA1AwlQf34Gda+A0Q7D1NurI4z4UTnIePpSx12BQZKtAHiJntdhMs0RACPNPfQ2AUYKGM1Gm7h0DO+LRiOBVlt+ZrAHoB6dSM5ZriOjODvBVaFmw9fbsdwHd4gRyDfSGjSIllwTaVa1EE0LjhcrkiuqVYlL38hZHbMYGfU7AjWMWkLlqZsHAAAAAElFTkSuQmCC);
}

.square {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAetJREFUaEPtmU1uAjEMhUPX3XGPHqcX6Tm4SI/Te7Druq0iZMkNSfxe4gwMmNUgRsbP/vwzmUOKT0SAiMCBuPehb31/e/3tCfz8+o5YpZQiCCmlDMvL6dwtiJ+PYwpoAhgIFiEpoAlgAhhy0Xj6kSTjKHcPGUv5On/093wdHWbHHcZrSS2BEVik8ASUAOYSkWqHsZIhwbzVEui5pJa2asCM7DBWDG8VO3ICXd1+BQySDDaAVvAYAL39WwEM4iM73qwYbgXgP2AQoSVylnDGpmUr//dqe7Mdxts/VDMSO527UQCXAsMED+1atSW1BjG6c3h3GEYzkmRve7MAPgQwM081q4DRT12eQPd2kC0AbAKDCM7O95xkqgPpMDV7vRFi+VertpmRpP3ziJ/2D7HHADNqbzNgEAetBO8JGN0Jyg5Y/tZaWL0B9LAHjaQRwbVW33pfU8LUqpQ9AjPTAVsd2iMfuqNrgGs50vkwgRkVPDKOrLEUwFwi5AVMmVuJfwkNBYx10DPTDRAHy0fBVgXk+6zqqGnpQdgLHGprNMHo0wx6zOFVwGaHGQXGW7D4wQhnlkBLp7VfrdDLaLW6s5d/y096GdFIglHhqC1ve956783eJu+SrFNFqQ7meNuyydgSaHpdhrFn+cbqvSd7f8cBE0KZoaajAAAAAElFTkSuQmCC);
}

.sine {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAeFJREFUaEPtmT1yAjEMhZc+Z8lV0tHkfDR0uUrOQp+ME5QRwraebHmiBVGxg+ehn28l2T5s+ckIGCJwMKx9iqXH15cv7uj585IxYgHJYFyDQaCczm83L8b78ePnOcH5DUsCs21bgUWCIstpASehSWAgWAiehCaB+QOmwEBVhtoQfy7fE5gHAGZ2SKV2RMAQLFRVCJQEZuczjNeQKueXGjAzLWkW6GhbU3Xojeiw55C6ChgvoCUw3vmw6jWBieowAoulIqwABrHROg9552NUrwpMZIflzFEr2Xwe0bbC3sAgsbMAXdYimhYAZ/TugEHE/tPhGjAzu5pVwPBdV+1MBx2ivfMxq9cEJqLDNWd7Q2pJlPbmeQLDtZD4WexD9DRfebUa1bsBJrrDewKGVxVZAeVvrbbpnQ8PvSYw0R3mbZHbWrsL6s0xqyqMh32t9jECoKbFz5161yIqMKMl39Ir0XubPVaY0fj1hl0vYKRtLWh4q1OB0Q6OWn0TSS5iIP9/7S2pXSBqfb1n52y1klXGat/IS2fJh5bb2uZmGTDodhCtLrTOEkQNFquNmp7FNmSnGVFv+bba4rSWEAs0qBYKDarn7W80vebBHVKutEMxnmBPPUpyTxO1DbXRoleS7OlvJL1vKdEMQqnczXwAAAAASUVORK5CYII=);
}



.timeline-wrapper {
  position: relative;
  width: var(--w);
  height: calc(100% - 220px);
  overflow-y: scroll;
  /* border: 1px solid blue; */
}

.timeline {
  position: absolute;
  width: 100%;
  height: 420px;
  /* border: 1px solid red; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  transition: 0.2s;
}

.track {
  position: relative;
  width: 50px;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAAXNSR0IArs4c6QAAABdJREFUGFdj+Pv45H8GbMT/b9f+M2AhAJs+JTs/ZeOeAAAAAElFTkSuQmCC);
  background-size: 1px 60px; 
  background-repeat: repeat;
  image-rendering: pixelated;
  transition: 0.2s;
  /* 1 x 10 */
}

.wrapper:not(.active) .track:not(.active) {
  filter: brightness(50%) sepia(100%);
  pointer-events: none;
}

.block {
  position: absolute;
  --w: 50px;
  --h: 30px;
  width: var(--w);
  height: var(--h);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAAAXNSR0IArs4c6QAAAExJREFUOE9jZICCMD2e/zA2tehVl74wgswCEyALVl78TC2z4eaE6/MygCxipJUFMJtAFo1aQnT8jQYX0UEFUjgaXIM0uOhSdtGjFAYANvVINbEoXCMAAAAASUVORK5CYII=);
  background-size: var(--w) var(--h); 
  background-repeat: repeat;
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 500;
}

.block * {
  pointer-events: none;
}

button {
  border: 0;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  filter: brightness(70%) sepia(120%)
}

.sound-palette-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}  

.osc-type-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.text-btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAKCAYAAAA3kUfdAAAAAXNSR0IArs4c6QAAAEtJREFUOE9jZICCMD2e/zD2QNOrLn1hBLkBTIActvLi54F2E9z+cH1eBpADGQebw2AuBDlw1HHkpJfRkCMn1EB6Bn/IDeqiZDAXwgA+RzFlb2ElgwAAAABJRU5ErkJggg==);
  width: 78px;
  height: 20px;
  background-color: transparent;
  background-size: 78px 20px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  color: #562e0c;
}

.text-btn.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAKCAYAAAA3kUfdAAAAAXNSR0IArs4c6QAAAE1JREFUOE9jZICBQ0v/w9kDzbCLZgQ5AUwwHFr6P1nffKCdBLd/7sWTDAx20YyMg81hMBeCHDjqOHLSy2jIkRNqID1DIOQGdVEyiAthAHNUMm8rBC5TAAAAAElFTkSuQmCC);
}



.text-btn {
  padding: 2px;
  font-size: 0.8em;
  text-align: center;
}

.inner-wrapper div .btn {
  margin: 0;
}

.sound-palette {
  display: flex;
  /* border: 1px solid blue; */
}

.sound-button {
  width: 32px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 10px;
  color: var(--blue);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAoCAYAAAD32nqhAAAAAXNSR0IArs4c6QAAAFFJREFUSEtjDNPj+c9AAWAEGbDy4meyjRg1gIFhNAxGwwCUgUbTwWgYjKYDSFUymhdGw2A0HUDzAogip6EVrs/LsOrSF0ZGWPOM1OYeSDNILwAmwaAktmtWjQAAAABJRU5ErkJggg==);
  background-color: transparent;
  background-size: 32px 80px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sound-button:last-child {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAoCAYAAAD32nqhAAAAAXNSR0IArs4c6QAAAFRJREFUSEtjDNPj+c9AAWAEGbDy4meyjAjX52UYNWA0DEbTAQPDaBiMhgGoEB1NB6NhMJoOIM2J0bwADQNQYJDT0AIF4KpLXxgZYc0zUpt7IM0gvQBbcLVjg/foYAAAAABJRU5ErkJggg==);
}


.border-right:last-child {
  border-right-width: 0;
}

.sound-palette button.sharp {
  /* background-color: var(--blue); */
  color: white;
  height: 36px;
  margin-left: -16px;
  margin-right: -16px;
  z-index: 1;
  background-size: 32px 36px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAADdJREFUOE9jZGBgYAjT4/kPokkFqy59YWQcNWA0DEbTAcNwygvkZGmQ/0H6wAQMEFuwwDSD9AEAfyNIE//zwhcAAAAASUVORK5CYII=);
}


.btn {
  border: 0;
  background-repeat: repeat;
  image-rendering: pixelated;
  cursor: pointer;
  margin: 2px;
}

.sq-btn {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-size: var(--size);
}

/* #562e0c */
.play {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHJJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CG4DSAad4chn9JKXhdRdAAkG58hhBlAD5DiDYAlyEkGYDNEPoagC0wiXYBrpggygCKopGihERMxgB7geLMRGl2BgASfWrFo7Pr3QAAAABJRU5ErkJggg==);
}

.play.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHNJREFUOE9jZIACxrmz/8PYxND/k1MZQeogxNzZ/5NCHInRB1czb81+BpAhjORohpkCMgSnAZ9tDRh4D1/A6yqCBoB04zOEKAPwGUK0AbgMIckAbIbQ1wBsgUm0C3DFBFEGUBSNFCUkYjIG2AsUZyZKszMASb5ysUFYDs0AAAAASUVORK5CYII=);
}

.stop {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAF9JREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CG0MgAxmnYvfM/C0UcuwtwaYZpRTJk1AAGBhqFATh9UhKNJCRo6qREijMTpdkZAC86XMXLocm4AAAAAElFTkSuQmCC);
}

.delete {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAIFJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoQRr2bGaRAN/7OwGg4yBLcBIM0wjchsJKMwDYDZSMgzUIPxu4CQIQwMDNhdgMO/cPOQvIPfAFxhMGoAAwPRYYArGvEaAM4d0OSLywCkaAZHI8WZidLsDABXeYbF1PkbTgAAAABJRU5ErkJggg==);
}

.extend {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGxJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CGwA0AcQgBdFdiGIDPGyDFI8EAigKRkGaQPNO8OQz/klJQ0gJJ6YBsA0Aa0QHIJSjpYOC8QHFmojQ7AwC5VnnFMMKXhQAAAABJRU5ErkJggg==);
}

.shorten {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGVJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CGwA0AcQgBdFdiGIDPGyDFI8EAigKRkGZs8iixQFsDGKdhmv8/i4GOLsDhP7ALKM5MlGZnAKfgbMWaC99aAAAAAElFTkSuQmCC);
}

.loop {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHpJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CGDEIDmObNAbvwX1IKSphgE8fwAkgRTCMxbBQDkDXArMYmBpKDiRM0AFkxsn+wGoCumGQvIDub7EAkKSkyMDAMkoREcWaiNDsDAH3NgsWpq1dxAAAAAElFTkSuQmCC);
}

.loop.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHxJREFUOE9jZICBQ0v/w9nEMOyiGUHKwATDoaX/k/XNidEGVzP34kkGBrtoRkZyNMNMARkyCA34bGsAdiHv4QsoYYJNHMMLIEUwjcSwUQxA1gCzGpsYSA4mTtAAZMXI/sFqALpikr2A7GyyA5GkpMjAwDBYEhLFmYnC7AwAOEGI2UORMS0AAAAASUVORK5CYII=);
}

.minus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAAXNSR0IArs4c6QAAAERJREFUOE9jZICCMD2e/zA2KTQjSDFI88qLn0nRB1Ybrs/LwEiu5sFuAOM07OHxPwtFHHcYUGwAkfExSGKB4oREaVIGABDwNMFgzlqpAAAAAElFTkSuQmCC);
}

/* #019d9b */
.plus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAAXNSR0IArs4c6QAAAF9JREFUOE9jDNPj+c9ABlh16QsjSBsjyICVFz+TbES4Pi8DyBCyDQDZCDIErwFM8+aAXfYvKQWrC2lnAMxmdGvRXYLTBRQbALN54MKA2ERBMBbwGYSSkIi1EVkdLCkDAGKvTIUoQ9BWAAAAAElFTkSuQmCC);
}

.minus,
.plus {
  background-size: 32px 24px;
}


input[type=number] {
  width: 40px;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  appearance: none;
  background-color: var(--brown);
  height: 24px;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-wrapper div {
  display: flex;
  align-items: center;
}

.inner-wrapper div button {
  height: 24px;
}

.inner-wrapper p {
  color: white;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 2px;
}

.wrapper.pause {
  pointer-events: none;
}

.wrapper.pause .dialogue {
  pointer-events: auto;
  opacity: 1;
}

.dialogue {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(4, 76, 170, 0.499);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}

.dialogue > div {
  width: 200px;
  height: 100px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: scale(0);
  transition: 0.3s;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyCAYAAACqNX6+AAAAAXNSR0IArs4c6QAAAQBJREFUeF7t3LERgkAABVHIrcUObENbsQRb0TbswFrMdc4RSoANHgGQsbPLT2+e/tf5ePgs757bG3i83vP46u82Ytyft+0pfHE1cDldpxFlFqPzV4wognR6TIKEYgwUQQSJGYjhWIggMQMxHAsRJGYghmMhgsQMxHAsRJCYgRiOhQgSMxDDsRBBYgZiOBYiSMxADMdCBIkZiOFYiCAxAzEcCxEkZiCGYyGCxAzEcCxEkJiBGI6FCBIzEMOxEEFiBmI4FiJIzEAMx0IEiRmI4ViIIDEDMRwLESRmIIZjIYLEDMRwLESQmIEYjoUUgwwmJwLtX2Y9nmlBcYDZvlGWA8y+WQzn5dpVF90AAAAASUVORK5CYII=);
  background-size: 200px 100px;
  background-repeat: repeat;
  image-rendering: pixelated;
  font-size: 0.8em;
  color: #562e0c;
}

.wrapper.pause .dialogue > div {
  transform: scale(1);
}

.c {
  color: #fe1109;
}

.d {
  color: #fa730c;
}

.e {
  color: #fbb000;
}

.f {
  color: #3ba602;
}

.g {
  color: #01714d;
}

.a {
  color: #02a0b2;
}

.b {
  color: #5305a7;
}

.snare {
  color: #562e0c;
}



/* other */

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--brown);
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
}

.indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--brown);
  font-size: 15px;
  opacity: 0.8;
  z-index: 999;
  pointer-events: none;
}
a {
  color: var(--brown);
  text-decoration: none;
  text-transform: none;
}

a:hover { text-decoration: underline; }

