* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: #fbd828;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: contain;
}

.btn-wrapper {
  position: fixed;
  top: 8px;
  right: 8px;
  display: flex;
}

.btn-wrapper button {
  margin: 4px;
}

.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 100px 0;
}

.singers-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  z-index: 1;
}

.note {
  text-align: center;
  width: 32px;
}

.sprite-container {
  position: relative;
  --w: 40px;
  --c: 40px;
  width: var(--w);
  height: var(--c);
  z-index: 1;
  overflow: hidden;
  margin-left: -4px;
}

.sprite  {
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.singer {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAdhJREFUaEPtmuF2gzAIhfX9H9odXZNFhFww2NKF/dpOLYbL5w3ErUv+pAIGBVbDtbNcupFEU6NGkBTjT4wDlG0787KuVaLUalmWFOEXmI2CQu30Bc70ek0vgAaWAk9Ckw5T3WWHobhM2Ybav/ffE5j/Acxok3psRwWYpmcpexX9bGpX/ubkvZrUU//CATO4JY0CHWo61QATMWHPJvUpYLyApsB418MUrwdM1IQhLEZHeAIYuMYb/ZB3PW7Fk4CJnPCp5+D8mvQjyEW9gYHaGYF+YuyHa5SA5sSEwT6c8AWYwanmEWDaqYs70zFMXd71GIonAhM04UuyvSZ1L5TC+j2BqbE0+lnWp4mnyJU9RrAATYGJnvDXANMWgTog8xlsDTTAKAAcrq8ITPSEybZYlyu8C+o29+13Bsdqb6DZ7eMmgN1YRUDuFUnrXBCYActX75WG9zbeBbk0lDMBQ3OVoDEBg06NOvsmLK5mgeT+nk9cc3v+DfWoW1EXRE8vo7X5obPUA9WWG26gw6CgoNHyTFgssLRGSxOI8lT0B6rx1+CmIeO9Y6xWQ6MssEpIQyzveN75hoondueaJ87w/zT0+Fk0BeV9jyKDa9GBHf26ZzwUq7q9Mt8w8X4AiVb1JGg8L44AAAAASUVORK5CYII=);
}

.timeline-wrapper {
  position: relative;
  /* margin-top: 5px; */
  width: 400px;
}

.timeline {
  position: absolute;
  width: 400px;
  height: 300px;
  /* border: 1px solid red; */
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  transition: 0.8s;
}

.track {
  position: relative;
  width: 32px;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAAXNSR0IArs4c6QAAABdJREFUGFdjeP/+/X8GbMTjx4//M2AhAKuDJUWwY+8jAAAAAElFTkSuQmCC);
  background-size: 1px 40px; 
  background-repeat: repeat;
  image-rendering: pixelated;
}

.block {
  position: absolute;
  --w: 32px;
  --h: 20px;
  width: var(--w);
  height: var(--h);
  /* background-color: rgb(141, 141, 141); */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAC9vt6cAAAAAXNSR0IArs4c6QAAADpJREFUKFNjZECA/0hsYpiMIEVggoGB4f///6TpZ2SE6AeRJGuGOQ9kyKgBVAoDiqMRFiukJQRoGgIAmAoiBUOfT6EAAAAASUVORK5CYII=);
  background-size: var(--w) var(--h); 
  background-repeat: repeat;
  image-rendering: pixelated;
}

/* .do {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAUCAYAAADskT9PAAAAAXNSR0IArs4c6QAAAJVJREFUSEvtVtEOgCAIjP//aJosC8iVZ5i16ZPClPPOndByHlyIRYZIH2YWW2IYACnM3Lc+0X5nmWgGhgF4pbB/RJmJxAAMIG1+KtUEADOgXq/I6SXQ+Rp5IABec3RdcrEJ4F8MiGUeFlr0gLt8qBFFfI2QBBEFrxjIOdiSW4B98jf0F+nbENgWwPQDRooWeiv3mC5sBRsGiQlpokR4AAAAAElFTkSuQmCC);
} */

button {
  border: 0;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: white;
  cursor: pointer;
}

/* other */

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
}

.indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  opacity: 0.8;
  z-index: 999;
  pointer-events: none;
}

.btn {
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-size: var(--size);
  background-repeat: repeat;
  image-rendering: pixelated;
}

.play {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAElJREFUOE9jZKAQMFKon4GmBvxnYCBsAT4XgAwAAbyuJMYAvIYQawBOQ0gxAKshdDUAq2XEugCnOmIMoCgaCaZUggoI5ZWBNwAApEwKEeIJ53gAAAAASUVORK5CYII=);
}

.delete {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFpJREFUOE9jZKAQMFKon4GQAf+hFuBUh88AkGaYPDIbxdHoBsBsJOQzuD5CXiBkEEYY4HQqkkkoarB5AZu/cYbHqAGIhAILZIpjAWQQocSEEvBUT0gEUx66AgAP+x0REMqtAAAAAABJRU5ErkJggg==);
}

.extend {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAEZJREFUOE9jZKAQMFKon4GqBvwnwjUYFiILgAzA5yKs8sPQAELhiDcQCWmGyaMEJjnpgGwDsKUTRrq6gGphgBLY5HgBxQAANd0PEaafOJ8AAAAASUVORK5CYII=);
}

.shorten {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAD9JREFUOE9jZKAQMFKon4GqBvwnwjUYFiILgAzA5yKs8sPQAELhiDcQCWnGKk/VdEDIBdjSCSNdXTDwYYDVBQDxogsR/A4aTwAAAABJRU5ErkJggg==);
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: none;
}

a:hover { text-decoration: underline; }