* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: #e24a28;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: contain;
  --w: 340px;
  /* --blue: rgb(0, 160, 240); */
}

.d-none {
  display: none;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: 100%; */
  height: 100%;
  padding: 20px 0 0;
  /* border: 1px solid red; */
}

/* .input-wrapper {
  display: flex;
  margin-bottom: 20px;
} */

.btn-wrapper {
  display: flex;
  justify-content: end;
  /* background-color: rgb(255, 52, 136); */
  background-color: rgb(0, 145, 255);
}


.singers-wrapper {
  display: flex;
  width: var(--w);
  justify-content: space-evenly;
  z-index: 1;
}



.singer {
  text-align: center;
  width: 50px;
  display: flex;
  justify-content: center;
}

.wrapper:not(.active) .singer:not(.active) {
  filter: brightness(70%);
}

.sprite-container {
  position: relative;
  --w: 40px;
  --c: 40px;
  width: var(--w);
  height: var(--c);
  z-index: 1;
  overflow: hidden;
  /* margin-left: -4px; */
}

.sprite  {
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sprite {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAdhJREFUaEPtmuF2gzAIhfX9H9odXZNFhFww2NKF/dpOLYbL5w3ErUv+pAIGBVbDtbNcupFEU6NGkBTjT4wDlG0787KuVaLUalmWFOEXmI2CQu30Bc70ek0vgAaWAk9Ckw5T3WWHobhM2Ybav/ffE5j/Acxok3psRwWYpmcpexX9bGpX/ubkvZrUU//CATO4JY0CHWo61QATMWHPJvUpYLyApsB418MUrwdM1IQhLEZHeAIYuMYb/ZB3PW7Fk4CJnPCp5+D8mvQjyEW9gYHaGYF+YuyHa5SA5sSEwT6c8AWYwanmEWDaqYs70zFMXd71GIonAhM04UuyvSZ1L5TC+j2BqbE0+lnWp4mnyJU9RrAATYGJnvDXANMWgTog8xlsDTTAKAAcrq8ITPSEybZYlyu8C+o29+13Bsdqb6DZ7eMmgN1YRUDuFUnrXBCYActX75WG9zbeBbk0lDMBQ3OVoDEBg06NOvsmLK5mgeT+nk9cc3v+DfWoW1EXRE8vo7X5obPUA9WWG26gw6CgoNHyTFgssLRGSxOI8lT0B6rx1+CmIeO9Y6xWQ6MssEpIQyzveN75hoondueaJ87w/zT0+Fk0BeV9jyKDa9GBHf26ZzwUq7q9Mt8w8X4AiVb1JGg8L44AAAAASUVORK5CYII=);
}


.timeline-wrapper {
  position: relative;
  width: var(--w);
  height: 500px;
  overflow-y: scroll;
  background-color: rgb(244, 128, 96);
  /* border: 1px solid blue; */
}

.timeline {
  position: absolute;
  width: 100%;
  height: 420px;
  /* border: 1px solid red; */
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  transition: 0.2s;
}

.track {
  position: relative;
  width: 50px;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAAXNSR0IArs4c6QAAABdJREFUGFdjeP/+/X8GbMTjx4//M2AhAKuDJUWwY+8jAAAAAElFTkSuQmCC);
  background-size: 1px 60px; 
  background-repeat: repeat;
  image-rendering: pixelated;
  transition: 0.2s;
}

.wrapper:not(.active) .track:not(.active) {
  filter: brightness(80%);
  pointer-events: none;
}

.block {
  position: absolute;
  --w: 50px;
  --h: 30px;
  width: var(--w);
  height: var(--h);
  /* background-color: rgb(141, 141, 141); */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAAAXNSR0IArs4c6QAAAEtJREFUOE9jZECA/0hsajEZQQaBCQYGhv///1PfDkZGiB0gkiYWwIICZNGoJUQnjNHgIjqoIOl3NHWREGB0DS66lF0wz1O/hIQWwAAnajYFXsfTYQAAAABJRU5ErkJggg==);
  background-size: var(--w) var(--h); 
  background-repeat: repeat;
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7em;
}

.block * {
  pointer-events: none;
}

button {
  border: 0;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  filter: brightness(70%) sepia(120%)
}

.sound-palette-wrapper {
  display: flex;
  justify-content: space-between;
  /* border: var(--blue) 0px solid; */
  /* border-top-width: 1px;
  border-bottom-width: 1px;*/
  background-color: rgb(0, 145, 255); 
}  

.osc-type-btn-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 145, 255);
}

.osc-type-btn-wrapper .text-btn {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAKCAYAAAA3kUfdAAAAAXNSR0IArs4c6QAAAEtJREFUOE9jZICCMD2e/zD2QNOrLn1hBLkBTIActvLi54F2E9z+cH1eBpADGQebw2AuBDlw1HHkpJfRkCMn1EB6Bn/IDeqiZDAXwgA+RzFlb2ElgwAAAABJRU5ErkJggg==);
  width: 78px;
  height: 20px;
  background-color: transparent;
  background-size: 78px 20px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.osc-type-btn-wrapper .text-btn.active {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAKCAYAAAA3kUfdAAAAAXNSR0IArs4c6QAAAE1JREFUOE9jZICBQ0v/w9kDzbCLZgQ5AUwwHFr6P1nffKCdBLd/7sWTDAx20YyMg81hMBeCHDjqOHLSy2jIkRNqID1DIOQGdVEyiAthAHNUMm8rBC5TAAAAAElFTkSuQmCC);
}



.text-btn {
  padding: 2px;
  font-size: 0.8em;
  text-align: center;
  height: 100%;
}

/* .text-btn:not(:last-child){
  border: var(--blue) 0px solid;
  border-bottom-width: 1px;
} */

/* .text-btn.active {
  background-color: rgb(99, 241, 220);
} */


.inner-wrapper div .btn {
  margin: 0;
}

.sound-palette {
  display: flex;
  /* border: 1px solid blue; */
}

.sound-button {
  /* margin: 1px; */
  width: 32px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0 0 10px;
  color: var(--blue);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAoCAYAAAD32nqhAAAAAXNSR0IArs4c6QAAAF9JREFUSEtjDNPj+b/y4mcGcgHjqAEMo2HAMBoGDKNhACpDRvPCaBiMpgNIbTqaF0bDAJwOQAQ57aRwfV6GVZe+MIINgBkCogm12EAaQQCkGe4C5CYeyDX4mnwwjTA1ADutpZU9XpiaAAAAAElFTkSuQmCC);
  background-color: transparent;
  background-size: 32px 80px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sound-button:last-child {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAoCAYAAAD32nqhAAAAAXNSR0IArs4c6QAAAGBJREFUSEtjDNPj+b/y4mcGckC4Pi8D46gBo2Ewmg4YRvMCw2gYMIyGAageGc0Lo2Ewmg4gLSpwXgAxyGkngTSvuvSFEWwAzBAQTajFBtIIAiDNIBpuALpBuJp9MI0weQDVprrUmI9aLAAAAABJRU5ErkJggg==);
}


.border-right:last-child {
  border-right-width: 0;
}

.sound-palette button.sharp {
  /* background-color: var(--blue); */
  color: white;
  height: 36px;
  margin-left: -16px;
  margin-right: -16px;
  z-index: 1;
  background-size: 32px 36px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAADdJREFUOE9jZGBgYAjT4/kPokkFqy59YWQcNWA0DEbTAcNwygvkZGmQ/0H6wAQyIFS4wDTC9AAAgqtIE+XR1awAAAAASUVORK5CYII=);
}

/* .sharp.border-right {
  border-color: white;
}

.border-right {
  border: var(--blue) 0px solid;
  border-right-width: 1px;
} */





.btn {
  border: 0;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-size: var(--size);
  background-repeat: repeat;
  image-rendering: pixelated;
  cursor: pointer;
  margin: 2px;
}

/* #562e0c */
.play {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHJJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CG4DSA8fAyhv+2UXhdRdAAkG58hhBlAD5DiDYAlyEkGYDNEPoagC0wiXYBrpggygCKopGihERMxgB7geLMRGl2BgAoDWrFmCPGaQAAAABJRU5ErkJggg==);
}

.delete {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAIFJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoQRr2bGaRAN/7OwGg4yBLcBIM0wjchsJKMwDYDZSMgzUIPxu4CQIQwMDNhdgMO/cPOQvIPfAFxhMGoAAwPRYYArGvEaAM4d0OSLywCkaAZHI8WZidLsDABXeYbF1PkbTgAAAABJRU5ErkJggg==);
}

.extend {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGtJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CGwA0AcQgBdFdiGIDPGyDFI8EAigKRkGZwojm8jOG/bRRKWiApHZBtAEgjOgC5BCUdDJwXKM5MlGZnAL/OecU/7jGQAAAAAElFTkSuQmCC);
}

.shorten {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGVJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CGwA0AcQgBdFdiGIDPGyDFI8EAigKRkGZs8iixQFsDGKdhmv8/i4GOLsDhP7ALKM5MlGZnAKfgbMWaC99aAAAAAElFTkSuQmCC);
}

.loop {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAHpJREFUOE9jZICCMD2e/zA2MfSqS18YQerABEjzyoufidEHVxOuz8sAMoSRHM0wU0CGDEIDGA8vA7vwv20USphgE8fwAkgRTCMxbBQDkDXArMYmBo46qEUEDUBWjOwfrAagKybZC8jOJjsQSUqKDAwMgyQhUZyZKM3OAI2dgsWbSy03AAAAAElFTkSuQmCC);
}

.minus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAAXNSR0IArs4c6QAAAFVJREFUOE9jZEACYXo8/5H5xLAZYYpAmlde/EyMHriacH1eBrAB5GgG6aOOAeTaDncBTgMYp2EPj/9ZqGFAOwOIiA/qBCJVopFcQ+BeQE6NRHgdRQkAlMk0wW40dzwAAAAASUVORK5CYII=);
}

.plus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAAXNSR0IArs4c6QAAAGhJREFUOE9jDNPj+c9AIlh16QsjTAsjyICVFz+TZES4Pi8DzBCyDADZBjMEpwGMh5eBXfXfNgqr6yg2AOYKDBfAbEa3FptLQK6gvgHw6CEQBji9QKwBBAORUMKgyACMhETINnR55KQMAK4LVkm50sf8AAAAAElFTkSuQmCC);
}


input[type=number] {
  width: 40px;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
  appearance: none;
  background-color: rgb(86, 46, 12);
  height: 24px;
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-wrapper div {
  display: flex;
  align-items: center;
}

.inner-wrapper div button {
  height: 24px;
}

.inner-wrapper p {
  color: white;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 2px;
}


/* other */

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
}

.indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 15px;
  opacity: 0.8;
  z-index: 999;
  pointer-events: none;
}
a {
  color: white;
  text-decoration: none;
  text-transform: none;
}

a:hover { text-decoration: underline; }