* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

body {
  background-color: #507397;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: contain;
  --w: 340px;
}

.d-none {
  display: none;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: 100%; */
  height: 100%;
  padding: 20px 0 0;
  border: 1px solid red;
}

.input-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.btn-wrapper {
  display: flex;
}


.singers-wrapper {
  display: flex;
  width: var(--w);
  justify-content: space-evenly;
  z-index: 1;
}



.singer {
  text-align: center;
  width: 50px;
  display: flex;
  justify-content: center;
}

.singer:not(.active) {
  filter: brightness(70%);
}

.sprite-container {
  position: relative;
  --w: 40px;
  --c: 40px;
  width: var(--w);
  height: var(--c);
  z-index: 1;
  overflow: hidden;
  /* margin-left: -4px; */
}

.sprite  {
  position: absolute;
  width: calc(var(--c) * 7);
  height: var(--c);
  background-size: calc(var(--c) * 7) var(--c); 
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.sprite {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAAUCAYAAABf9dUQAAAAAXNSR0IArs4c6QAAAdhJREFUaEPtmuF2gzAIhfX9H9odXZNFhFww2NKF/dpOLYbL5w3ErUv+pAIGBVbDtbNcupFEU6NGkBTjT4wDlG0787KuVaLUalmWFOEXmI2CQu30Bc70ek0vgAaWAk9Ckw5T3WWHobhM2Ybav/ffE5j/Acxok3psRwWYpmcpexX9bGpX/ubkvZrUU//CATO4JY0CHWo61QATMWHPJvUpYLyApsB418MUrwdM1IQhLEZHeAIYuMYb/ZB3PW7Fk4CJnPCp5+D8mvQjyEW9gYHaGYF+YuyHa5SA5sSEwT6c8AWYwanmEWDaqYs70zFMXd71GIonAhM04UuyvSZ1L5TC+j2BqbE0+lnWp4mnyJU9RrAATYGJnvDXANMWgTog8xlsDTTAKAAcrq8ITPSEybZYlyu8C+o29+13Bsdqb6DZ7eMmgN1YRUDuFUnrXBCYActX75WG9zbeBbk0lDMBQ3OVoDEBg06NOvsmLK5mgeT+nk9cc3v+DfWoW1EXRE8vo7X5obPUA9WWG26gw6CgoNHyTFgssLRGSxOI8lT0B6rx1+CmIeO9Y6xWQ6MssEpIQyzveN75hoondueaJ87w/zT0+Fk0BeV9jyKDa9GBHf26ZzwUq7q9Mt8w8X4AiVb1JGg8L44AAAAASUVORK5CYII=);
}


.timeline-wrapper {
  position: relative;
  width: var(--w);
  height: 500px;
  overflow-y: scroll;
  /* border: 1px solid blue; */
}

.timeline {
  position: absolute;
  width: 100%;
  height: 420px;
  /* border: 1px solid red; */
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  transition: 0.2s;
}

.track {
  position: relative;
  width: 50px;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAAXNSR0IArs4c6QAAABdJREFUGFdjeP/+/X8GbMTjx4//M2AhAKuDJUWwY+8jAAAAAElFTkSuQmCC);
  background-size: 1px 60px; 
  background-repeat: repeat;
  image-rendering: pixelated;
  transition: 0.2s;
}

.track:not(.active) {
  filter: brightness(80%);
  pointer-events: none;
}

.block {
  position: absolute;
  --w: 50px;
  --h: 30px;
  width: var(--w);
  height: var(--h);
  /* background-color: rgb(141, 141, 141); */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAAAXNSR0IArs4c6QAAAEtJREFUOE9jZECA/0hsajEZQQaBCQYGhv///1PfDkZGiB0gkiYWwIICZNGoJUQnjNHgIjqoIOl3NHWREGB0DS66lF0wz1O/hIQWwAAnajYFXsfTYQAAAABJRU5ErkJggg==);
  background-size: var(--w) var(--h); 
  background-repeat: repeat;
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7em;
}

.block * {
  pointer-events: none;
}

button {
  border: 0;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-color: white;
  cursor: pointer;
}

.sound-palette-wrapper {
  display: flex;
}

.osc-type-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.osc-btn {
  background-color: white;
  padding: 2px;
  font-size: 0.8em;
  text-align: center;
}

.osc-btn.active {
  background-color: rgb(163, 241, 99);
}

.sound-palette {
  display: flex;
  border: 1px solid blue;
}

.sound-palette button {
  margin: 1px;
  width: 32px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: end;
  /* padding: 0 0 10px; */
}

.sound-palette button.sharp {
  background-color: black;
  color: white;
  height: 35px;
  margin-left: -16px;
  margin-right: -16px;
  z-index: 1;
}


.btn {
  border: 0;
  --size: 32px;
  width: var(--size);
  height: var(--size);
  background-size: var(--size);
  background-repeat: repeat;
  image-rendering: pixelated;
  cursor: pointer;
  margin: 2px;
}


.play {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAElJREFUOE9jZKAQMFKon4GmBvxnYCBsAT4XgAwAAbyuJMYAvIYQawBOQ0gxAKshdDUAq2XEugCnOmIMoCgaCaZUggoI5ZWBNwAApEwKEeIJ53gAAAAASUVORK5CYII=);
}

.delete {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAFpJREFUOE9jZKAQMFKon4GQAf+hFuBUh88AkGaYPDIbxdHoBsBsJOQzuD5CXiBkEEYY4HQqkkkoarB5AZu/cYbHqAGIhAILZIpjAWQQocSEEvBUT0gEUx66AgAP+x0REMqtAAAAAABJRU5ErkJggg==);
}

.extend {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAEZJREFUOE9jZKAQMFKon4GqBvwnwjUYFiILgAzA5yKs8sPQAELhiDcQCWmGyaMEJjnpgGwDsKUTRrq6gGphgBLY5HgBxQAANd0PEaafOJ8AAAAASUVORK5CYII=);
}

.shorten {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAD9JREFUOE9jZKAQMFKon4GqBvwnwjUYFiILgAzA5yKs8sPQAELhiDcQCWnGKk/VdEDIBdjSCSNdXTDwYYDVBQDxogsR/A4aTwAAAABJRU5ErkJggg==);
}

input[type=number] {
  width: 40px;
}

/* other */

.sign {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  text-transform: none;
}

.indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 15px;
  opacity: 0.8;
  z-index: 999;
  pointer-events: none;
}
a {
  color: white;
  text-decoration: none;
  text-transform: none;
}

a:hover { text-decoration: underline; }